.film{
    position: relative;
    width: 100%;
    top:100px;
    display: grid;
    grid-row: rows;
    padding-left:30px;
}

.info{
    color:orange;
    display: flex;
    justify-content: space-around;
    
    
}

.film_casting{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.film_title{
    
    max-width: fit-content;
    color: orange;
    font-size: 4em;
    font-style: italic;
    
}

.film_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;

}

.film_score{
    color: black;
    background: orange;
    border-radius: 15px;
    padding:6px;
    font-weight: bold;
    margin-right: 6px;
}

.film_age{
    color: black;
    background: orange;
    border-radius: 15px;
    padding:6px;
    font-weight: bold;
}

.film_year{
    color: black;
    background: orange;
    border-radius: 15px;
    padding:6px;
    margin-right: 6px;
    font-weight: bold;
}

.direction{
    float: left;
    margin-top: 10px;
    font-weight: bold;
    list-style: none;
    margin-bottom: 10px;
    
}

.director_name{
    display: inline;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 4px;
    
}

.casting{
    font-weight: bold;
}

.casting>li{
    display: inline;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 4px;
}

.synopsis{
    font-weight: bold;
    color:orange;
    padding: 10px;
    margin-top: 10px;
    font-size: 24px;
    display: block;
    max-height: 90%;

    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    
}

.synopsis>p{
    font-weight: normal;
    margin-top: 10px;
    font-size: 18px;
    
}

.synopsis:hover{
    color:orangered;
    cursor: pointer;
}

.movie{
    display: flex;
    justify-content: center;
}

video{
    width: 50%;
    min-width: 400px;
}

@media screen and (max-width: 1071px){

    .info{
        color:orange;
        display: flex;
        flex-direction: column;
    }


}
